
.card {
    width: 350px;
    height: 125px;
    background-color: #e9e6e6;
    border-radius: 4px;
    border: none;
    padding: 15px;
}

.cardLink {
    text-decoration: none;
    color: black;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cardDescription {
    font-size: 16px;
    margin: 0;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}