
.container {
    display: flex;
    gap: 10px;
}

.wrapper {
    width: 100%;
}

.recitalText, .compareText {
    padding: 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    background-color: #eee;

    span {
        color: white;
        font-weight: 600;
        padding: 0 2px;
    }
}

.recitalText span {
    background-color: green;
}

.compareText span {
    background-color: red;
}