
.card {
    width: 350px;
    height: 125px;
    background-color: #e9e6e6;
    border-radius: 4px;
    border: none;
    padding: 15px;
}

.cardLink {
    text-decoration: none;
    color: black;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cardDescription {
    font-size: 16px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden; 
}
// TODO: cardDescription multiple lines